@using EntityLayer.Concrete
@model List<Category>

@{
    int count = 1;
}

<div class="col-lg-3 col-md-3">
    <div class="shop__sidebar">
        <div class="sidebar__categories">
            <div class="section-title">
                <h4>Kategoriler</h4>
            </div>
            <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                    @foreach (EntityLayer.Concrete.Category item in Model.Where(x => x.ParentCategoryID == null).ToList())
                    {
                        @if (Model.Where(x => x.ParentCategoryID == item.Id).ToList().Count > 0)
                        {
                            var targetName = "#collapse" + count;
                             string categoryUrl = $"/Product/ProductList?categoryId={item.Id}&subCategoryId={item.ParentCategoryID}";
                            <div class="card">
                                <div class="card-heading">
                                    <a href="@categoryUrl" data-toggle="collapse" data-target="@targetName">@item.Name</a>
                                </div>

                                @{
                                    var idName = "collapse" + count;
                                }

                                <div id="@idName" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">

                                        @{
                                            count = count + 1;
                                        }

                                        @foreach (EntityLayer.Concrete.Category subItem in Model.Where(x => x.ParentCategoryID == item.Id))
                                        {
                                            @if (Model.Where(x => x.ParentCategoryID == subItem.Id).ToList().Count > 0)
                                            {
                                                <div class="categories__accordion">
                                                    <div class="accordion" id="subAccordionExample">
                                                        <div class="card">
                                                            <div class="card-heading">
                                                                <a href="@categoryUrl" data-toggle="collapse" data-target="#collapseTwo">@subItem.Name</a>
                                                            </div>

                                                            <div id="collapseTwo" class="collapse show" data-parent="#subAccordionExample">
                                                                <div class="card-body">
                                                                    @foreach (EntityLayer.Concrete.Category childItem in Model.Where(x => x.ParentCategoryID == subItem.Id))
                                                                    {
                                                                        @if (Model.Where(x => x.ParentCategoryID == childItem.Id).ToList().Count > 0)
                                                                        {
                                                                            <div class="categories__accordion">
                                                                                <div class="accordion" id="childAccordionExample">
                                                                                    <div class="card">
                                                                                        <div class="card-heading">
                                                                                            <a href="@categoryUrl" data-toggle="collapse" data-target="#collapseTree">@childItem.Name</a>
                                                                                        </div>
                                                                                        <div id="collapseTree" class="collapse show" data-parent="#childAccordionExample">
                                                                                            <div class="card-body">
                                                                                                <ul>
                                                                                                    @foreach (EntityLayer.Concrete.Category childerenItem in Model.Where(x => x.ParentCategoryID == childItem.Id))
                                                                                                    {
                                                                                                        <li><a href="@categoryUrl">@childerenItem.Name</a></li>
                                                                                                    }
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <ul>
                                                                                <li><a href="@categoryUrl">@childItem.Name</a></li>
                                                                            </ul>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="card-heading">
                                                    <a href="@categoryUrl">@subItem.Name</a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            string categoryUrl = $"/Product/ProductList?categoryId={item.Id}&subCategoryId={item.ParentCategoryID}";
                            <div class="card-heading">
                                <a href="@categoryUrl">@item.Name</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


